header {
   .cabecalho{
    background-color: aquamarine;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px;
   }
    .cabecalho-logo{
        width: 10%;
        
display: inline-block;
margin: 0 16px;
font-size: 24px;

    }
    .cabecalho-barco{
        width: 10%;
        display: inline-block;
        margin: 0 16px;
        font-size: 24px;
    }
}